include MANIFEST.in
include gscompressor/draco_encoder
include gscompressor/draco_encoder.exe
include gscompressor/draco_decoder
include gscompressor/draco_decoder.exe
include gscompressor/quantization/draco_encoder
include gscompressor/quantization/draco_encoder.exe
include gscompressor/quantization/draco_decoder
include gscompressor/quantization/draco_decoder.exe